.head{
    height: 86px;
    position: relative;

}
body{
    font-family: Arial;
    margin: 0;
}

.url-a-with-decor{
    border-bottom: 1.5px solid black;
}
.route-url a{
    text-decoration: none;
    color: black;
}

.logo{
    margin: 15px 0 0 8px;
    position: absolute;
}
.logo img, .logo p{
    float: left;
}

@font-face {
	font-family: 'EurioStile'; 
	src: url(/font/eurostile.ttf); 
}

.num-telephone{
    position: absolute;
    margin:40px 0 0 78%;
    width: 168px;
    opacity:1;
    color:#EB5017;
    font-size:18px;
    float:right;
    list-style-type: none;
    font-family: "EurioStile";
}

.form-calc{
    margin: 23px 0 85px 29px;
    height: 379px;
    width: 653px;
    background-color:#DFDFDF;
}
.name-calc{
    padding: 30px 0 0 0;
}
.item p{
    margin: 29.5px 0 0 0;
}
.name-calc p{
    margin: 0px 0 0px 99px;
    font-family: Arial, Helvetica, sans-serif;
    color:#EB5017;
    font-size:30px;
}
.item-calc-p{
    width: 179px;
    height: 187px;
    float: left;
    font-size:13px;
    text-align: right;
    font-family: Arial;


}
.item-calc-input{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 25px 0 0 31px;
    font-size:13px;
}
.item-calc-input div{
    margin: 0 0 24px 0;
    
}
.item-calc-input .input-refr{
    width: 88px;
    
}
.item-button-form{
    float: left;
}


.input-submit-calc-form{
    width: 101px;
    height: 34px;
    margin: 0px 25px 0 51px;
}
.result-calc-text{
    color:#395306;
    font-size: 12px;
}
.result-calc-num{
    font-size: 14px;
}
.item-button-form input{
    background: #bef435 linear-gradient(#bef435, #80c800);
    border-radius: 10px;
    border: 1px solid #c0ab9e;
    box-shadow: inset 0px 0px 2px 1px #eefc3d;
    font-size: 11px;
    font-family: Arial;
}



.radio-style{
    margin-left: 20px;
}

.item-calc-scale{
    width: 250px;
    height: 250px;
    float: left;
}
/* .scale-option{
    width: 239px;
    height: 7px;
    background-color: #000000;
    margin: 80px 0 0 19px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #ffff;
    padding: 1px 0 0 0;
}

.scale-details-circle{
    width: 8px;
    height: 8px;
    margin-top: -1px;
    margin-left: 0.2%;
    border-radius: 7px;
    background: #ffffff linear-gradient(#ffffff,#8e9c95);
    box-shadow: 0px 0px 0.5px 1px #666666;
} */

.range-calc{
    width: 239px;
    height: 7px;
    background: linear-gradient(90deg,green 0%,#000000 0%);
    margin: 78px 0 0 19px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #ffff,  inset 0 0 0 2.5px;
    padding: 1px 0 0 0;
    -webkit-appearance: none;
}
.range-calc::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    margin-top: -1px;
    margin-left: 0.2%;
    border-radius: 7px;
    background: #ffffff linear-gradient(#ffffff,#8e9c95);
    box-shadow: 0px 0px 0.5px 1px #666666;
}

.num1{
    margin: 108px 0 0 20px;
    pointer-events:none;
}
.warrior1, .warrior2{
    color: red;
}
select{
    width: 96px;
    height: 21px;
}
.span-rub-under-input-range-left{
    font-size: 7px;
    font-family: cursive;
    margin: 0 69% 0 0;
    float: right;
}
.span-rub-under-input-range-right{
    font-size: 7px;
    float: right;
    font-family: cursive;
    margin: 0 -9px 0 0;
}
.route-url{
    margin: 90px 0 0 30px;
    font-size: 13px;
}



footer{
    background: rgb(32, 32, 32);
    height: 56px;
    padding: 13px 0 0 61px;
    margin: 0 12px 0 9px;

    font-size: 13px;
}
footer a{
    color: white;
    margin: 0 15px 0 0px;
}



.menu-header{
    margin: 33px 12px 0 9px;
    background: #666666;
    text-align: center;
    position: absolute;
}
.menu-header a{
    color: #FFFFFF;
    text-decoration: none;
}


.error-input{
    position: absolute;
    color: red;
}
.contain-for-aa{
    position: relative;

    padding: 0 50px;
    display:inline-grid;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border-left: 1px solid #eb5017;
    margin: 0 -2.4px 0 -2.6px;
}
.contain-for-aaa{
    position: relative;

    padding: 0 119px 0 56px;
    display:inline-grid;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border-left: 1px solid #eb5017;
    margin: 0 -2.4px 0 -2.6px;
}
.contain-for-a{
    position: relative;

    padding: 0 50px 0 119px;
    display:inline-grid;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border-right: 1px solid #eb5017;
    margin: 0 -2.4px 0 -2.6px;
}
.contain-for-aaa:hover, .contain-for-aa:hover, .contain-for-a:hover{
    transition: 0.2s;
    background: #eb5017;
}
